<section class="my-5">
    <h1>Wordshop</h1>
    <p class="lead fw-normal">A simple, open-source platform for sharing your writing.</p>
    <p>Wordshop is a free, open-source platform that prioritizes writing and connection. Think of it as a digital haven for your thoughts and stories, where you can share them with a diverse community of readers.</p>
    <a href="https://github.com/mrivasperez/wordshop" class="btn btn-primary">View Repo</a>
</section>


